box{
    color: black;
    /*border: 3px solid #e6e600;*/  
    padding: 10px 20px;
    margin: 10px;
    text-align: justify;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    width : 80%;
    height :300px;
}
.form-control{
  border: 1px solid #00B4CC;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
}

.navbar-inverse {
    background-color: #e1e826;
    border-color: #e1e826;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-left:20px;
    padding-top: 15px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color:white;    
}

.navbar-right{
  padding-top: 7px;  

}


  p {
    margin: 0 0 10px;
    color: #2B2D42;
}

html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }

  * {box-sizing: border-box}
  body {font-family: Verdana, sans-serif; margin:0}
  
  /* Slideshow container */
  .slideshow-container {
    position: relative;
    background: #fff;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding: 20px;
      background: #ffffff;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    /* background-color: #ffffff; */
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}

	.container {
	position: relative;
	background-color: #ffff;
	max-width: 800px;;
}

	.container img {
		vertical-align: middle;
	}

	.row .col-md {
		background-color: #ffff;
		position: center;
		width: fluid;
		margin-left: 30px;

	}

	.jumbotron-fluid .content {
	position: absolute;
	bottom: 150px;
	background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	color: #f1f1f1;
	width: 100%;
	height: 50%;
	padding: 20px;
	text-align: center;

	}

	.jumbotron-fluid .icon {
		background-color: #ff9800;
		padding-top: 18px;
		padding-bottom: 18px;
	}


	.btn .blue{
		background-color: #007bff;
		color: #e1e826;
		width: 50%;
		rounded : 10px;

	}

	.How {
		position: absolute;
		width: 100%;
	}

	.row{
		width: 100%;
	}

	.card{
		width: 80%;
		height: 80%;
		margin-left: 60px;
	}

	.files input {
    outline: 2px dashed #e1e826;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 200px 200px 150px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}

	.files input:focus{
		outline: 2px dashed #92b0b3;
		outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out,
		background-color .15s linear;
    transition: outline-offset .15s ease-in-out, backgroun	d-color .15s linear;
		border:1px solid #92b0b3;
		width: 100%;
 }
	.files{ position:relative}
	.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
	.color input{ background-color:#307798;}
	.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 200px;
    content: "drag file here.";
	text:"or";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

ht: 150px;
}

body * {
  box-sizing: inherit;
}



* {
  box-sizing: border-box;
}

.product-grid__product {
  padding: 1rem;
  position: relative;
  cursor: pointer;
  background: #fff;
  border-radius: 4px;
}


body {
  color: #777;
  font-family: 'Open Sans', Arial, sans-serif;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}