body {
    font-family: "Lucida Sans", sans-serif; 
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin:0;

  }
  
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  * {
      box-sizing: border-box;
  }
  .row::after {
      content: "";
      clear: both;
      display: table;
  }
  [class*="col-"] {
      float: left;
      padding: 5px;
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  

  .navbar a {
    float: left;
    display: block;
    color: #f2efe3;
    text-align: center;
    padding-left:20px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 15px;
    font-family:inherit;
    font-style: bold;
  }

  .navbar a:hover {
    color: white;
  }

  .login{
  padding-left: 100px;
}

.login button{
  background-color: #243943;
  border: none;
  color: white;
  padding: px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  width: 100px;
  height: 30px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.login button:hover{
  background-color: grey;
  color: white;
}
  .main {
    padding: 16px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    margin-bottom: 50px;
    color: black;
     
    
  }

  /*Footer Margin*/
  .footer{
    width: 100%;
    height: 150px;
    background-color:#cccc00;
    color: black;
    text-align: center;
  }

  hr{  
    margin-top: 0;
    height: 5px; 
    color: black; 
    background-color:#243943; 
    width: 100%;

  }

  box{
    color: #262626;
    border: 3px solid #243943;
    padding: 10px 20px;
    margin: 10px;
    text-align: justify;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    width : 320px;
    height :auto;
}

.contact  box{
    color: black;
    border: 3px solid grey;
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    width : 320px;
    height :auto; 
}

.contact img{
  width: 70%;
  height: 70%;
}

.contact p,h2{
  font-style: italic;
  text-align: center;
}


 /*carousel automatic*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 85%;
    margin: auto;
}
    /* The container */
    .container{
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default radio button */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
      background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
      top: 0px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
    }

    .carousel-caption h3,h2,p{
      color:#006666;
    }

    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 20px;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
    }

    .button1 {
       
      color: white; 
      border: 2px solid #4CAF50;
    }

    .button1:hover {
      background-color: white;
      color:#4CAF50;
    }

    .input {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 20px;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
    }

    .input {
       
      color: white; 
      border: 2px solid #4CAF50;
    }

    .input:hover {
      background-color: white;
      color:#4CAF50;
    }

  .page-footer {
    position:alsolute;
    bottom:100;
    padding-top: 20px;
    widows: 100px;;
    /* background : #e1e826; */
    background-color : #e1e826; 
    background-position : center;
    color:black;
    }

  .product .product-img .product-label {
    position: absolute;
    top: -12px;
    right: -12px;
  }

  .row{
    margin: 0;
  }

  .product-section{
    margin-top: 50px;
  }
  
  .product .product-img {
    position: relative;
  }
  
  .product .product-img>img {
    width: 70%;
    height: 70%;
    display: block;
    margin: auto;
  }

  .product {
    position: relative;
    margin: 0 auto;
    box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 3px #E4E7ED;
    -webkit-transition: 0.2s all;
    border-radius: 10px;
    transition: 0.2s all;
    width: 85%;
  }

   .product .add-to-cart {
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 8px;
    padding: 15px;
    background: none;
    text-align: center;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    z-index: 2;
  }

  .product .add-to-cart .add-to-cart-btn {
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: 0 30px;
    background-color: #233843;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }


.profile{
  display: flex;
  float: right;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.profile img{
  width: 40px;
}

.profile a{
  margin-top: 10px;
  color: black;
  cursor: pointer;
}
  
.profile a:hover{
 
  color: grey;
}